 <form method="POST" action="/submit-form">
                        <div class="form-row">
                            <div class="col">
                                <label>Date:</label>
                                <input class="form-control" type="date" name="date" id="datepicker" required>                        
                            </div>
                            <div class="col">
                                <label for="result">Result:</label>
                                <select class="form-control" id="result" name="result" required>
                                    <option value="WIN">Victory</option>
                                    <option value="LOSS">Defeat</option>
                                    <option value="DRAW">Draw</option>
                                </select>                                
                            </div>
                                
                        </div>
                        <div class="form-row">
                                <div class="col-4">
                                    <label for="role">Role:</label>
                                    <select class="form-control" id="role" name="role" required>
                                        <option value="DPS">DPS</option>
                                        <option value="TANK">TANK</option>
                                        <option value="HEALER">HEALER</option>                                
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="map">Map:</label>
                                    <select class="form-control" id="map" name="map" required>
                                    <% for (var i = 0; i < maps.length; i++) { %>                                    
                                            <option value="<%= maps[i].mapid %>"><%= maps[i].name %></option>                                        
                                        <% } %>                 
                                    </select>
                                </div>
                                <div class="col-2">
                                    <label for="sr">SR:</label>
                                    <input class="form-control" type="number" name="sr" id="sr" required />
                                </div>
                                <div class="col-2">
                                    <label for="season">Season:</label>
                                    <input class="form-control" type="number" name="season" id="season" readonly required value="24"/>
                                </div>  
                                
                        </div>
                                <br />
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </form>