<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <span style="color: Dodgerblue"><i class="fas fa-chart-line fa-2x"></i></span>
    <span style="vertical-align: super;">OW Stats</span>
  </a>    
  <div class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Charts">Charts</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link disabled" href="/Import">Import</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Add">Add</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other Sites
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="https://www.overbuff.com/players/pc/Riivr-1747">OverBuff</a>
          <a class="dropdown-item" target="_blank" href="https://overwatchtracker.com/profile/pc/global/Riivr-1747">OW Tracker</a>
          <a class="dropdown-item" target="_blank" href="https://playoverwatch.com/en-us/career/pc/Riivr-1747/">Blizzard</a>
          <a class="dropdown-item" target="_blank" href="https://overwatch.op.gg/detail/overview/53238147081226063131185">OP.GG</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://overwatch.fandom.com/wiki/Heroes">Heros</a>
        </div>
      </li>     
    </ul>    
  </div>
</nav>
